include ../templates/head
include ../templates/adminBar
include ../templates/adminNav
include ../templates/flashMessages
include ../mixins/productListingAdmin
include ../mixins/categoryListingAdmin
include ../mixins/subcategoryListingAdmin
include ../mixins/industryListingAdmin
include ../mixins/adminPagination

doctype html
html
  +head
  body.admin
    if user
      +adminBar
    +adminNav
    +flash-messages
    .container
      .admin__page
        block body
          h1 New page
    script
      include ../../public/js/admin/admin.js
      include ../../public/js/admin/pagination.js
    block extraFooterScripts