extends layoutAdmin

block body
  h1 Subcategory Listings
  .admin__filters
    form(method="GET")
      div
        label(for="search") Search
        input(name="search" type="text" placeholder="Search subcategories...")
      div
        label(for="sortBy") Sort By
        select(name="sortBy")
          option(value="newest" selected=(query.sortBy === "newest")) Newest
          option(value="oldest" selected=(query.sortBy === "oldest")) Oldest
          option(value="az" selected=(query.sortBy === "az")) Name A-Z
          option(value="za" selected=(query.sortBy === "za")) Name Z-A      
      button.no-margin(type="submit") Apply Filter
    span Found #[span.bold= numberOfResults] results
  .admin__listings
    a.admin__listings--add(href="/dashboard/subcategories/new")
      span Add a Subcategory
    if subcategories
      for subcategory in subcategories
        +subcategoryListingAdmin(subcategory)
  +adminPagination