extends layout

block body
  .page-header
    .container
      h1 About Us
  .container.about
    .about__column
      p Established in 1989, Envirogard hires specialist equipment to contractors across mainland U.K.
      p Equipment is supplied from our hire depots at Manchester, Barnsley, Tamworth, Bristol and Ashford (Kent).
      p Our company is a full member of the Contractors Plant Association, and an associate member of the Environmental Industries Commission.
      p Our hire equipment is regularly employed by contractors engaged specifically in environmental clean-up and pollution control but much is also used by contractors who only occasionally encounter hazardous materials in the course of their work.  
      p We routinely supply our equipment to telecomms. engineers, electricians, roofing, shot-blasting and painting contractors, geotechnical engineers, HVAC engineers, logistics operations, facilities services businesses, chemical plants... etc.
      p Our hire products help people meet their health, safety, and environmental obligations.
      p Hire products broadly fall into the following classes:

      h3 Showers, Decontamination Facilities, and Welfare Units
      p To help contractors comply with their obligations to protect their employees and the general public during work with potentially hazardous materials Envirogard offers an extensive range of:
      ul
        li Emergency showers
        li Modular showers
        li Mobile decontamination units (including decontamination shower units with integral welfare facilities)
      a.button(href="/categories/decontamination-units") See all Decontamination Units →

      h3 Emergency Drench Showers
      p These are highly mobile and can be located just about anywhere. They include an emergency eyewash station as standard and serve as a primary decontamination shower in case of a hazardous material spill.
      p Once charged with clean water these units are autonomous, and do not require connection to mains utility services.
      a.button(href="/categories/decontamination-units/emergency-drench-showers") See all Emergency Drench Showers →

      h3 Modular Decontamination Showers
      p These are often the only option where space constraint prohibits use of static or trailed decontamination facilities. Quickly and easily erected at site from lightweight panels, these systems are intended for indoor use.
      a.button(href="/categories/decontamination-units/modular-decontamination-showers") See all Modular Decontamination Showers →

      h3 Trailer Decontamination Showers
      p We operate a large fleet of decontamination trailers allowing us to cater for the hire requirements of different industrial users. Water heating is either electric or by an integral room-sealed balanced-flue LPG water heater. 
      p All models have (at least) three compartments which provide separate Dirty, Shower and Clean areas, and are equipped with certified HEPA grade air-filtration to aid containment of hazardous materials. 
      p A range of sizes is available from our smallest Micro single shower trailer catering for just 4 people, up to our Maxi Quad shower units accomodating 16.
      p Self-contained units are available, equipped with integral clean-water tank and generator.  Envirogard also hires combi units with a 3-stage decontamination facility AND welfare facilities - all within one trailer.  
      p The "Envirocabin" combi unit is equipped with 2 showers, a W.C. cassette toilet, hand-wash basin, and a separate galley kitchen incorporating a mess/office area with table and seating.
      p Optional items for all shower trailers are boot-wash stations and waste-water filtration system - depending upon customer application. All of Envirogard's trailers are intended for tow to site using a large estate car or van.
      a.button(href="/categories/decontamination-units/trailer-decontamination-showers") See all Trailer Decontamination Showers →

      h3 Site Services / Ancillaries
      p We recognize that many sites lack basic utility services and have their own unique problems. Based on the most frequent customer requests we offer a range of ancillary products including:
      ul
        li Compact water bowsers
        li Portable generators
        li Clean-water supply pumps
        li Waste filtration units
        li Hilta pressure washers
        li Transformers
        li 110v extension cables
        li Halogen lights etc.
      a.button(href="/categories/temporary-site-services") See all Site Services →

      h3 Ventilation, Fume &amp; Fugitive Dust Control Equipment
      p We offer a range of equipment for handling "air" in one form or another, with machine capacities from 800 m3/hr up to 5000 m3/hr. In summary:
      ul
        li We stock mobile water-mist cannons for suppression of fugitive dust.  	 These can used indoors (as the Vortex unit pictured right) or outdoors (as the DF Smart unit) shown below right.
        li Water-mist cannons are a straightforward solution for suppression of 	 fugitive nuisance dusts e.g. concrete, cement, brick-dust, shot-blast 	   overspill etc.
        li We stock portable and transportable fans for ventilation and fume 	   extraction applications; flexible ducting is available to hire or buy.
        li For suppression of general "nuisance dust" such as concrete, cement, 	 brick-dust, sawdust, powders, shot-blasting overspill etc. we stock a 	   range of extractors coupled to medium grade air-filters which are cost-	   effective in removing visible air borne dust.
        li For control of fine or hazardous dusts we have a range of specialist air scrubbing dust control units - including Negative Pressure Units [NPU's] - to meet many applications. These machines are equipped with HEPA (High Efficiency Particle Arrestor) filters which typically remove very 	 small particles (less than 1 micron) with better then 99.99% efficiency.
        p All our ventilation, fume and dust control equipment will operate from a 110v supply, is designed to be "Wheel-in, Plug-in, Switch-on" and can be easily scaled up or down in capacity to meet individual requirement.
      a.button(href="/categories/ventilation-and-dust-control") See all Ventilation &amp; Dust Control →

      h3 Specialist Industrial Vacuum Cleaning Equipment
      p Where dust has already settled high efficiency vacuum cleaners allow collection with minimal disturbance and maximum capture. For hazardous dusts (including asbestos) H-Type vacuums are available, constructed to BS5415 and with 3-stage filtration.
      p The final stage includes a HEPA filter module and each machine is individually tested and certified for its filtration efficiency.  110v machines are standard throughout the hire range but compressed air driven models are available on request.
      p Also available are wet pick-up vacuums in both 110v &amp; compressed air driven versions (not H-Type).
      a.button(href="/categories/vacuum-cleaners") See all Vacuums →

      h3 More about Envirogard
      p Envirogard is a division of Specialist Hires Ltd, Lydd Yard, Aldington (Kent), TN25 7AL.  
      p The company is forward looking and is constantly looking for new ranges to introduce to the hire fleet. 
      p If you know of a product which you think would be a useful addition to our hire equipment range - please don’t hesitate, tell us!
    .about__column
      img(src="/images/branch-finder/branch-finder-map-numbers.png" alt="Map of the UK with Envirogard Branches")
      h3 Our Locations
      p We provide hire equipment throughout the UK with 5 locations and a nationwide delivery service. Please enquire for prices, or collect for free from our hire depots.
      a.button(href="/contact") Find a Branch →
      h3 Products by Industry
      .home__promoted--right-column--industries
        ul
          li 
            a(href="/industries/pollution-control")
              span Pollution Control
          li
            a(href="/industries/pollution-control") 
              span Asbestos Removal
          li
            a(href="/industries/pollution-control")
              span Demolition
          li
            a(href="/industries/pollution-control")
              span Contaminated Land
          li
            a(href="/industries/pollution-control")
              span Tank Purging