extends layout

block body
  .page-header
    .container
      h1 About Us
  .container.about
    .about__column !{about ? about.pageContent : ''}
    .about__column
      img(src="/images/branch-finder/branch-finder-map-numbers.png" alt="Map of the UK with Envirogard Branches")
      h3 Our Locations
      p We provide hire equipment throughout the UK with 5 locations and a nationwide delivery service. Please enquire for prices, or collect for free from our hire depots.
      a.button.button__arrow(href="/contact") Find a Branch
      h3 Products by Industry
      .home__promoted--right-column--industries
        ul
          for industry in globalIndustries
            li
              a(href=industry.pageURL)
                span= industry.title