extends layout

block body
  .category__header
    .container
      h1 Decontamination Showers
      img(src="/images/cms/categories/TEMP/decontamination-showers.jpg")
  .container
    .category__description
      p Should you need to put precautionary measures in place to protect staff or the general public from hazardous materials Envirogard can assist with an extensive fleet of decontamination units available for national hire.
      .category__description--read-more