extends layout

block body
  .page-header
    .container
      h1 Contact Us
  .container.contact-success
    h3 Success!
    p An Envirogard representative will get back to you as soon as possible.
    a.button(href='/contact') Go back

block extraFooterScripts
  script(async src="https://unpkg.com/axios/dist/axios.min.js")
  script
    include ../public/js/contact-form.js