extends layout

block body
  .page-header
    .container
      h1 Frequently Asked Questions
  .container
    .page-columns.faq
      .page-columns__column !{leftColumn}
      .page-columns__column !{rightColumn}