extends layout

block body
  .page-header
    .container
      h1 Frequently Asked Questions
  .container
    .page-columns
      .page-columns__column
        h3 Service Coverage &amp; Conditions
        p Our hire service is available throughout mainland UK, and (by arrangement) we can provide a service to Northern Ireland and continental islands of the UK. Quotations are valid for 30 days unless stated otherwise.  Provision of a quotation does not constitute a commitment by us to supply you; in all cases supply of goods and services is subject to availability and our terms and conditions for hire and sale of products apply. These terms and conditions are available from our website, in hard copy from our hire depots and registered office, and are printed on our hire contract documents. By placing an order with us you are consenting to the exclusive application of our terms and conditions.
        p Please note that our service does not extend to off-shore facilities or support vessels, and use of our Hire Goods on such facilities is not permitted by us.
        p The following points are a useful quick-guide to using our hire service; in the unlikely event of a conflict between these points and our conditions, our conditions for hire and sale of products take precedence.

        h3 Collection Procedure
        p You (the customer) may collect Hire Goods and Products from our depots, or we can provide a delivery service at additional cost. Where we are asked to deliver, You (the customer) are responsible for arranging adequate access for delivery, and for someone to receive the Goods and Products.

        h3 Care Of Hire Goods
        p Customers are responsible for the safekeeping of the Hire Goods supplied to them from the time they receive the goods until the time they are physically returned to our possession, and are advised to insure such Goods at new replacement value.
        
        h3 Use Of Hire Goods
        p Your attention is drawn to the instructions and technical information supplied with our Hire Goods and Products, and contained in our brochures and on this website. Customers are responsible for selecting Hire Goods and Products appropriate for the application and work environment, and for ensuring that these are used in a safe and correct manner.
        p Note that – as a general guide – our Hire Goods and Products are NOT certified or approved for use in flammable or explosive environments, and should not be used in such circumstances. When Hire Goods and Products have such an approval or certification this will be clearly stated in writing.
        
      .page-columns__column
        h3 Off-Hire
        p You (the customer) may return the Hire Goods to the supplying depot. Alternatively if you wish us to collect our Goods at the end of a hire please contact the Hire Desk at least one clear working day in advance. We will endeavour to collect Hire Goods promptly but please note that you remain responsible for the Goods until they are restored to us in good condition. Ensure you obtain and record an “Off-Hire Reference Number” from the Hire Desk; claims about off-hire will not be entertained unless you can provide this reference number. Please note that delivery staff are not permitted to take instruction concerning off-hire dates – you must contact the Hire Desk.

        h3 Return Procedure
        p Hire Goods must be returned in good working order (fair wear and tear excepted) and in a clean condition (everyday grime excepted). Hire Goods returned in an unreasonably dirty or contaminated condition may be refused if not appropriately packaged, and cleaning charges may apply. Customers must declare any Goods or Products contaminated by material which might reasonably pose a hazard to maintenance staff. In extreme cases we reserve the right to refuse to accept goods returned in an unsatisfactory condition until this is rectified by the customer.

        h3 Invoicing
        p Subject to the Customer having a current approved Credit Account, Hire Goods will be invoiced monthly, or at the end of the hire (whichever comes first). Queries in relation to invoices must be raised in writing within 14 days. Hire charges are based on “time out” – not “time in use” – and are subject to any minimum charges which may apply. All days are chargeable inclusive of the day Hire Goods go out and the day they are received back. For your reference the standard “hire-week” is 7 days. 