extends layout

block body
  .home__slider
    .home__slider--blue-strip
      .container
        .home__slider--carousel
          //- Control slider images in critical.styl
          .home__slider--carousel--image
          .home__slider--carousel--image
          .home__slider--carousel--image

  .container
    .home__promoted
      .home__promoted--left-column
        .home__promoted--left-column--popular-products
          .home__promoted--left-column--popular-products--title
            h4 Equipment for Hire
          .category-listings
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/showers-and-decontamination.jpg")
              .category-listings__entry--label
                h3 Decontamination Units
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/dust-control.jpg")
              .category-listings__entry--label
                h3 Dust Control
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/vacuum-cleaners.jpg")
              .category-listings__entry--label
                h3 Vacuum Cleaners
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/air-ventilation.jpg")
              .category-listings__entry--label
                h3 Air Ventilation
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/site-services.jpg")
              .category-listings__entry--label
                h3 Site Services
            a.category-listings__entry(href=("/categories/showers-and-decontamination"))
              img(src="/images/cms/homepage/categories/TEMP/testing-and-monitoring.jpg")
              .category-listings__entry--label
                h3 Testing &amp; Monitoring
                
      .home__promoted--right-column
        h4 Products by Industry
        .home__promoted--right-column--industries
          ul
            li 
              a(href="/industries/pollution-control")
                span Pollution Control
            li
              a(href="/industries/pollution-control") 
                span Asbestos Removal
            li
              a(href="/industries/pollution-control")
                span Demolition
            li
              a(href="/industries/pollution-control")
                span Contaminated Land
            li
              a(href="/industries/pollution-control")
                span Tank Purging
          .home__promoted--right-column--industries--live-chat
            img(src="/images/homepage/advisor.jpg")
            .home__promoted--right-column--industries--live-chat--text
              div
                h4 NEED ADVICE?
                h3 Speak to an advisor online
              .button.live-chat__start-button
                span Start Live Chat
                img(src="/images/icons/chat.svg" alt="Live Chat Icon")
                
  .home__split-strip
    .home__split-strip--environment-background
    .container
      .home__split-strip--popular-categories
        .home__split-strip--popular-categories--title
          h4 Popular Products
        ul.popular-products
          li 
            a(href="/categories/decontamination-units")
              span Decontamination Units
          li
            a(href="/categories/safety-showers") 
              span Safety Showers
          li
            a(href="/categories/water-misting-cannons")
              span Water Misting Cannons
          li
            a(href="/categories/dust-control-and-extraction")
              span Dust Control &amp; Extraction
          li
            a(href="/categories/vacuum-cleaners")
              span Vacuum Cleaners
      .home__split-strip--environment
        p For over 25 years we’ve helped contractors across the UK to protect the environment
        a.button.button__arrow(href="/about") More about Envirogard
  
  +branchFinder

block extraFooterScripts
  script
    include ../public/js/flickity-init.js
  script(src="/js/flickity.js" async defer onload="flickityInit()")