include templates/head
include templates/nav
include templates/adminBar
include templates/footer
include templates/flashMessages
include mixins/productListingCard
include mixins/branchFinder
include mixins/branchFinderSVG

doctype html
html
  +head
  body
    if user
      +adminBar
    +nav
    +flash-messages
    block body
      .container
        h1 New page
    +footer
    block footerScripts
      script(async defer src="/js/tawkTo.js")
      script
        include ../public/js/nav.js
        include ../public/js/cookies.js
        include ../public/js/branch-finder.js
        include ../public/js/tawkToInit.js
    block extraFooterScripts