include templates/head
include templates/nav
include templates/footer
include templates/flashMessages
include mixins/productListingCard
include mixins/branchFinder
include mixins/branchFinderSVG

doctype html
html
  +head
  body
    +nav
    +flash-messages
    block body
      .container
        h1 New page
    +footer
    block footerScripts
      script
        include ../public/js/nav.js
    block extraFooterScripts