include templates/head
include templates/nav
include templates/adminBar
include templates/footer
include templates/flashMessages
include mixins/productListingCard
include mixins/branchFinder
include mixins/branchFinderSVG
include mixins/categoryListing

doctype html
html
  +head
  body(class=(user ? 'logged-in' : ''))
    +nav
    +flash-messages
    block body
      .container
        h1 New page
    +footer
    block footerScripts
      if !bot
        script(async defer src=hashes["tawkTo.js"])
      script
        include ../public/js/nav.js
        include ../public/js/cookies.js
        include ../public/js/branch-finder.js
        if !bot
          include ../public/js/tawkToInit.js
    block extraFooterScripts