extends layout

block body
  .container.contact-success
    h3 Success!
    p We will review your application and get back to you as soon as possible.
    a.button(href='/newsletter') Go back
    
block newsletter