extends layout

block body
  .page-header
    .container
      h1 Privacy Policy
  .container
    .page-columns
      .page-columns__column
        p This privacy policy sets out how Specialist Hires Limited uses and protects any information that you provide when using our website(s) including www.envirogard.co.uk.
        p We are committed to ensuring that your privacy is protected. If you provide information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
        p We may change this policy from time to time by updating this page. You should therefore check this page from time to time to ensure that you are happy with any changes. This policy is effective from 18th May 2018.

        h3 What we collect
        p You may choose to provide, and we may collect, the following information:
        ul
          li Name and Job Title
          li Contact information including e-mail address
          li Information that you provide to us for the purpose of receiving our e-mail notifications and/or newsletters.
          li Any other information that you send to us, including (but not limited to) information relating to any enquiry that you make to us.

        h3 Cookies
        p We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: http://www.google.com/privacypolicy.html

        h3 What do we do with the information
        ul
          li We use this information to respond to any enquiries you may make.
          li We may periodically send promotional e-mails about new products, special offers or other information which we think you may find interesting using the e-mail address which you have provided.
          li From time to time we may use your information to contact you for market research purposes, or to send you our newsletter or other marketing or commercial communications which we think may be of interest to you. We may contact you by e-mail, phone, fax or mail.
          li We may use the information to customise the website and improve the	 browsing experience.

      .page-columns__column
        h3 Controlling your personal information
        p You may choose to restrict the use of your personal information. You can inform us at any time if you no longer require marketing communications to be sent by e-mailing us at accounts@envirogard.co.uk
        p The information collected is only available for use by our business, our associated and affiliated businesses; occassionally we will provide information to other businesses that work on our behalf to manage our communication with you, and provide our services to you. Otherwise we will not sell, distribute or lease your personal information to any third parties unless we have your express consent, or are required to do so:
        ul
          li By law
          li In connection with any legal proceedings or prospective legal proceedings
          li In order to establish or defend our legal rights; and
          li To the purchaser (or prospective purchaser) of any business asset which we are 	   (or are contemplating) selling.
        p You may request details of personal information which we hold about you under the Data Protection Act 1998. This service is free unless requests are unreasonably onerous or frequent.  If you would like a copy of the information held on you please write to: The Data Protection Officer, Specialist Hires Limited, Lydd Yard, Mill Lane, Aldington, Kent, TN25 7AL.
        p If you believe that any information we are holding on you is incorrect or incomplete, please write or e-mail us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
        p We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.

        h3 Links to other websites
        Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over those other sites. Therefore we cannot be responsible for the protection and privacy of any information which you provide while visiting such sites, and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.

        h3 Commercial Privacy Policy – Full Version
        p You can download the full text #[a(href="/docs/envirogard-commercial-data-protection-policy.pdf" target="_blank") here].

