extends layout

block body
  .page-header
    .container
      h1 Open a Trade Account
  .container
    .page-columns
      .page-columns__column
        p To hire from us, please open a Trade Account using the form on this page. Please read the #[a(href="/trade-account/terms-and-conditions") terms and conditions] prior to returning your form.
        p Print, sign and fax or post the form back to us at:
        p Specialist Hires Limited#[br]Lydd Yard#[br]Mill Lane#[br]Aldington#[br]Ashford#[br]Kent#[br]TN25 7AL
        p Tel: 01233 720 948#[br]Fax: 01233 720 154#[br]E-mail: accounts@envirogard.co.uk
      .page-columns__column
        a.button(href="/docs/envirogard-trade-account-form.pdf" target="_blank")
          span Download Account Form
          img(src="/images/icons/download.svg" alt="Download Icon")
      