extends layout

block body
  .page-header
    .container
      h1 Terms and Conditions
  .container
    .page-columns
      .page-columns__column
        h3 1) INTERPRETATION
        p 1.1 In these conditions the following words have the following meanings:
        p “Contract” means a contract which incorporates these conditions and made between the Customer and the Supplier for the hire of Hire Goods and/or the sale of Products;
        p “Customer” means the person, firm, company or other organisation hiring Hire Goods;
        p “Deposit” means any advance payment required by the Supplier in relation to the Hire Goods which is to be held as security by the Supplier;
        p “Hire Goods” means any machine, article, tool, and/or device together with any accessories specified in a Contract which are hired to the Customer;
        p “Hire Period” means the period commencing when the Customer holds the Hire Goods on hire (including Saturdays Sundays and Bank Holidays) and ending upon the happening of any of the following events: (i) the physical return of the Hire Goods by the Customer into the Supplier’s possession; or (ii) the physical repossession or collection of Hire Goods by the Supplier;
        p “Liability” means liability for any and all damages, claims, proceedings, actions, awards, expenses, costs and any other losses and/or liabilities;
        p “Products” means the products sold to the Customer by the Supplier;
        p “Rental” means the Suppliers’ charging rate for the hire of the Hire Goods which is current from time to time during the Hire Period;
        p “Supplier” means Specialist Hires Ltd and will include its employees, servants, agents and/or duly authorised representatives;
        p “Services” means the services and/or work (if any) to be performed by the Supplier for the Customer in conjunction with the hire of Hire Goods including any delivery and/or collection service for the Hire Goods.

        h3 2) BASIS OF CONTRACT
        p 2.1 Hire Goods are hired subject to them being available for hire to the Customer at the time required by the Customer.
        p 2.2 Where hire of the Hire Goods is to a Customer who is an individual and the hire would be covered by the Consumer Credit Act 1974 the duration of the hire shall not exceed 3 months. Accordingly the hire of any Hire Goods is not covered by the Consumer Credit Act 1974.
        p 2.3 Nothing in this Contract shall exclude or limit any statutory rights of the Customer which may not be excluded or limited due to the Customer acting as a consumer. Any provision which would be void under any consumer protection legislation or other legislation shall, to that extent, have no force or effect.

        h3 3) PAYMENT
        p 3.1 The amount of any Deposit, Rental and/or charges for any Services shall be as quoted to the Customer or otherwise as shown in the Supplier’s current price list from time to time. Where a Deposit is required for the Hire Goods it must be paid in advance of the Customer hiring the Hire Goods. The Supplier may also require an initial payment on account of the Rental in advance of the Customer hiring the Hire Goods.
        p 3.2 The Customer shall pay the Rental, charges for any Services, monies for any Products and/or any other sums payable under the contract to the Supplier at the time and in the manner agreed. The Supplier’s prices are exclusive of any applicable VAT for which the Customer shall additionally be liable.
        p 3.3 The time for any payments by the Customer under a Contract shall be of the essence. Payment shall not be deemed to be made until the Supplier has received either cash or cleared funds in respect of the full amount outstanding.
        p 3.4 If the Customer fails to make any payment in full on the due date the Supplier may charge the Customer interest (both before and after judgment) on the amount unpaid at the rate of 4% above the base rate from time to time of the Supplier’s bank. Such interest shall be compounded with quarterly rests.
        p 3.5 The Customer shall pay all sums due to the Supplier under this Contract without any set-off, deduction, counterclaim and/or any other withholding of monies.
        p 3.6 The Supplier may set a reasonable credit limit for the Customer. The Supplier reserves the right to terminate or suspend the Contract for hire of the Hire Goods and/or the provision of Services if allowing it to continue would result in the Customer exceeding its credit limit or the credit limit is already exceeded.

        h3 4) RISK TITLE AND INSURANCE
        p 4.1 Risk in the Hire Goods and any Products will pass immediately to the Customer when they leave the physical possession or control of the Supplier.
        p 4.2 Risk in the Hire Goods will not pass back to the Supplier from the Customer until the Hire Goods are back in the physical possession of the Supplier. This shall apply even if the Supplier has agreed to cease charging the Rental.
        p 4.3 Title in the Hire Goods remains at all times with the Supplier. The Customer has no right, title or interest in the Hire Goods except that they are hired to the Customer. Title in any Products remains with the Supplier until all monies payable to the Supplier by the Customer for the Products have been paid in full.
        p 4.4 The Customer must not deal with the title or any interest in the Hire Goods. This includes but is not limited to selling, assigning, mortgaging, pledging, charging, securing, hiring, exerting a lien and/or lending. However the Customer may re-hire the Hire Goods to a third party with the prior written consent of the Supplier.
        p 4.5 The Supplier may provide insurance in respect of the Hire Goods at additional cost to the Rental. Alternatively the Supplier may require the Customer to insure the Hire Goods on such reasonable terms and for such reasonable risks as the Supplier may specify. The proceeds of any such insurance shall be held by the Customer in trust for the Supplier and be paid to the Supplier on demand. The Customer must not compromise any claim in respect of the Hire Goods and/or any associated insurance without the Supplier’s written consent.

        h3 5) DELIVERY, COLLECTION AND SERVICES
        p 5.1 It is the responsibility of the Customer to collect the Hire Goods from the Supplier. If the Supplier agrees to deliver the Hire Goods to the Customer it will do so at its standard delivery cost and such delivery will form part of any Services.
        p 5.2 Where the Supplier provides Services the persons performing the Services are servants of the Customer and are under the direction and control of the Customer. The Customer shall be solely responsible for any instruction, guidance and/or advice given by the Customer to any such person and for any damage which occurs as a result of such persons following the Customer’s instructions, guidance and/or advice.
        p 5.3 The Customer will allow and/or procure sufficient access to and from the relevant site and procure sufficient unloading space, facilities, equipment and access to power supplies for the Supplier’s employees, sub-contractors and/or agents to allow them to carry out the Services. The Customer will ensure that the site where the Services are to be performed is, where necessary, cleared and prepared before the Services are due to commence.
        p 5.4 If any Services are delayed, postponed and/or are cancelled due to the Customer failing to comply with its obligations the Customer will be liable to pay the Supplier’s additional standard charges from time to time for such delay, postponement and/or cancellation.

        h3 6) CARE OF HIRE GOODS
        p 6.1 The Customer shall :-
        p 6.1.1 not interfere with the Hire Goods, their working mechanisms or any other parts of them and take reasonable care of the Hire Goods and only use them for their proper purpose in a safe and correct manner in accordance with any operating and/or safety instructions provided or supplied to the Customer and notify the Supplier immediately after any breakdown, loss and/or damage to the Hire Goods;
        p 6.1.2 take adequate and proper measures to protect the Hire Goods from theft, damage and/or other risks;
        p 6.1.3 notify the Supplier of any change of its address and upon the Supplier’s request provide details of the location of the Hire Goods and permit the Supplier at all reasonable times to inspect the Hire Goods including procuring access to any property where the Hire Goods are situated;
        p 6.1.4 keep the Hire Goods at all times in its possession and control and not to remove the Hire Goods from the United Kingdom without the prior written consent of the Supplier;
        p 6.1.5 be responsible for the conduct and cost of any testing, examinations and/or checks in relation to the Hire Goods required by any legislation, best practice and/or operating instructions except to the extent that the Supplier has agreed to provide them as part of any Services;
        p 6.1.6 not do or omit to do any thing which will or may be deemed to invalidate any policy of insurance related to the Hire Goods;
        p 6.1.7 not continue to use Hire Goods where they have been damaged and will notify the Supplier immediately if the Hire Goods are involved in an accident resulting in damage to the Hire Goods, other property and/or injury to any person;
        p 6.1.8 where the Hire Goods require fuel, oil and/or electricity ensure that the proper type is used and that, where appropriate, the Hire Goods are properly fitted by a qualified and competent person.
        p 6.2 The Hire Goods must be returned by the Customer in good working order and condition (fair wear and tear excepted) and in a clean condition (everyday grime excepted) together with all insurance policies, licences, registration and other documents relating to the Hire Goods.
        
        h3 7) BREAKDOWN
        p 7.1 Allowance will be made in relation to the Rental to the Customer for any non-use of the Hire Goods due to breakdown caused by the development of an inherent fault and/or fair wear and tear on condition that the Customer informs the Supplier immediately of the breakdown.
        p 7.2 The Customer shall be responsible for all expenses, loss (including loss of Rental) and/or damage suffered by the Supplier arising from any breakdown of the Hire Goods due to the Customer’s negligence, misdirection and/or misuse of the Hire Goods.
        p 7.3 The Supplier will at its own cost carry out all routine maintenance and repairs to the Hire Goods during the Hire Period and all repairs which are required due to fair wear and tear and/or an inherent fault in the Hire Goods. The Customer will be responsible for the cost of all repairs necessary to Hire Goods during the Hire Period which arise otherwise than as a result of fair wear and tear and/or an inherent fault.
        p 7.4 The Customer must not repair or attempt to repair the Hire Goods unless authorised to do so in writing by the Supplier.
        
      .page-columns__column
        h3 8) LOSS OR DAMAGE TO THE HIRE GOODS
        p 8.1 If the Hire Goods are returned in damaged, unclean and/or defective state except where due to fair wear and tear the Customer shall be liable to pay the Supplier for the cost of any repair and/or cleaning required to return the Hire Goods to a condition fit for re-hire and the Rental until such repairs and/or cleaning have been completed.
        p 8.2 The Customer will pay to the Supplier the replacement cost on a new for old basis of Hire Goods which are lost, stolen and/or damaged beyond economic repair during the Hire Period less the amount paid to the Supplier under any policy of insurance taken out in accordance with these conditions.
        p 8.3 The Customer shall also pay to the Supplier the Rental until the Supplier has been paid the amount representing the replacement cost of such Hire Goods.

        h3 9) TERMINATION BY NOTICE
        p 9.1 If the Hire Period has a fixed duration neither the Customer nor the Supplier shall be entitled to terminate the Contract before the expiry of that fixed period unless agreed with the other party.
        p 9.2 If the Hire Period does not have a fixed duration either of the Customer or the Supplier is entitled to terminate the Contract upon giving to the other party any agreed period of notice.
        p 9.3 If no period of notice has been agreed or specified the Customer may terminate the Hire Period by the physical return of the Hire Goods to the Supplier and the Supplier shall be entitled to terminate the hire of the Hire Goods by giving not less than 14 days’ notice to the Customer.

        h3 10) DEFAULT
        p 10.1 If the Customer:-
        p 10.1.1 fails to make any payment to the Supplier when due;
        p 10.1.2 breaches the terms of the Contract and, where the breach is capable of remedy, has not remedied the breach within 14 days of receiving notice requiring the breach to be remedied;
        p 10.1.3 persistently breaches the terms of the Contract;
        p 10.1.4 provides incomplete, materially inaccurate or misleading facts and/or information in connection with the Contract;
        p 10.1.5 pledges, charges or creates any form of security over any Hire Goods, or ceases or threatens to cease to carry on business, or proposes to compound with its creditors, applies for an interim moratorium in respect of claims and/or proceedings or has a Bankruptcy Petition presented against it, or being a company, enters into voluntary or compulsory liquidation, has a receiver, administrator or administrative receiver appointed over all or any of its assets, any attachment order is made against the Customer or any distress, execution or other legal process is levied on any property of the Customer or the Customer takes or suffers any similar action in any jurisdiction;
        p 10.1.6 appears to the Supplier due to the Customer’s credit rating to be financially inadequate to meet its obligations under the Contract; and/or
        p 10.1.7 appears reasonably to the Supplier to be about to suffer any of the above events; then the Supplier shall have the right, without prejudice to any other remedies, to exercise any or all of the rights set out in clause p 10.2 below.
        p 10.2 If any of the events set out in clause 10.1 above occurs in relation to the Customer then:-
        p 10.2.1 the Supplier may enter, without prior notice, any premises of the Customer (or premises of third parties with their consent) where Hire Goods owned by the Supplier may be and repossess any Hire Goods;
        p 10.2.2 the Supplier may withhold the performance of any Services and cease any Services in progress;
        p 10.2.3 the Supplier may cancel, terminate and/or suspend without Liability to the Customer the Contract and/or any other contract with the Customer; and/or
        p 10.2.4 all monies owed by the Customer to the Supplier shall immediately become due and payable.
        p 10.3 Any repossession of the Hire Goods shall not affect the Supplier’s right to recover from the Customer any monies due under the Contract and/or any damages in respect of any antecedent breach.
        p 10.4 Upon termination of a Contract the Customer shall immediately:
        p 10.4.1 return the Hire Goods to the Supplier or make the Hire Goods available for collection by the Supplier as requested by the Supplier; and
        p 10.4.2 pay to the Supplier all arrears for Rentals, Charges for any Services, monies for any Products and/or any other sums payable under the Contract

        h3 11) LIMITATIONS OF LIABILITY
        p 11.1 All warranties, representations, terms, conditions and duties implied by law relating to fitness, quality and/or adequacy are excluded to the fullest extent permitted by law.
        p 11.2 If the Supplier is found to be liable in respect of any loss or damage to the Customer’s property the extent of the Supplier’s Liability will be limited to the retail cost of replacement of the damaged property.
        p 11.3 Any defective Hire Goods must be returned to the Supplier for inspection if requested by the Supplier before the Supplier will have any Liability for defective Hire Goods.
        p 11.4 The Supplier shall have no Liability to the Customer if any monies due in respect of the Hire Goods and/or the Services has not been paid in full by the due date for payment.
        p 11.5 The Supplier shall have no Liability for additional damage, loss, liability, claims, costs or expenses caused or contributed to by the Customer’s continued use of defective Hire Goods and/or Services after a defect has become apparent or suspected or should reasonably have become apparent to the Customer.
        p 11.6 The Customer shall give the Supplier a reasonable opportunity to remedy any matter for which the Supplier is liable before the Customer incurs any costs and/or expenses in remedying the matter itself. If the Customer does not do so the Supplier shall have no Liability to the Customer.
        p 11.7 The Supplier shall have no Liability to the Customer to the extent that the Customer is covered by any policy of insurance arranged as a result of the Contract and the Customer shall ensure that the Customer’s insurers waive any and all rights of subrogation they may have against the Supplier.
        p 11.8 The Supplier shall have no Liability to the Customer for any:-
        p 11.8.1 consequential losses (including loss of profits and/or damage to goodwill);
        p 11.8.2 economic and/or other similar losses;
        p 11.8.3 special damages and indirect losses; and/or
        p 11.8.4 business interruption, loss of business, contracts and/or opportunity.
        p 11.9 The Supplier’s total Liability to the Customer under and/or arising in relation to any Contract shall not exceed 5 times the amount of the Rental and charges for Services (if any) under that Contract or the sum of £1,000 whichever is the higher. To the extent that any Liability of the Supplier to the Customer would be met by any insurance of the Supplier then the Liability of the Supplier shall be extended to the extent that such Liability is met by such insurance.
        p 11.10 Each of the limitations and/or exclusions in this Contract shall be deemed to be repeated and apply as a separate provision for each of:
        p 11.10.1 liability for breach of contract;
        p 11.10.2 liability in tort (including negligence); and
        p 11.10.3 liability for breach of statutory duty; except clause 11.9 above which shall apply once only in respect of all the said types of Liability.
        p 11.11 Nothing in this Contract shall exclude or limit the Liability of the Supplier for death or personal injury due to its negligence or any other Liability which it is not permitted to exclude or limit as a matter of law.

        h3 12) GENERAL
        p 12.1 Each hire of an item of Hire Goods shall form a distinct Contract which shall be separate to any other Contract relating to other Hire Goods.
        p 12.2 The Customer shall be liable for the acts and/or omissions of its employees, agents, servants and/or subcontractors as though they were its own acts and/or omissions under this Contract.
        p 12.3 The Customer agrees to indemnify and keep indemnified the Supplier against any and all losses, lost profits, damages, claims, costs (including legal costs on a full indemnity basis), actions and any other losses and/or liabilities suffered by the Supplier and arising from or due to any breach of contract, any tortious act and/or omission and/or any breach of statutory duty by the Customer.
        p 12.4 No waiver by the Supplier of any breach of this Contract shall be considered as a waiver of any subsequent breach of the same provision or any other provision. If any provision is held by any competent authority to be unenforceable in whole or in part the validity of the other provisions of this Contract and the remainder of the affected provision shall be unaffected and shall remain in full force and effect.
        p 12.5 The Supplier shall have no Liability to the Customer for any delay and/or non performance of a Contract to the extent that such delay is due to any events outside the Supplier’s reasonable control including but not limited to acts of God, war, flood, fire, labour disputes, strikes, sub-contractors, lock-outs, riots, civil commotion, malicious damage, explosion, governmental actions and any other similar events. If the Supplier is affected by any such event then time for performance shall be extended for a period equal to the period that such event or events delayed such performance.
        p 12.6 All third party rights are excluded and no third parties shall have any rights to enforce the Contract. This Contract is governed by and interpreted in accordance with English law and the parties agree to submit to the non-exclusive jurisdiction of the English courts.

        p Copyright Hire Association Europe Ltd - 1999

