mixin footer
  block newsletter
    .newsletter-strip
      .container
        h4 Get updates on our products &amp; services
        a.button.no-margin(href='/newsletter') 
          span Sign up now →
      
  footer.footer
    .container      
      .footer__column
        h5 Hire From Us
        ul
          for category in globalCategories
            li
              a(href=category.pageURL)= category.title         
      .footer__column
        h5 Industries
        ul
          for industry in globalIndustries
            li
              a(href=industry.pageURL)= industry.title
      .footer__column
        h5 Customer Services
        ul
          li 
            a(href="/about") About Envirogard
        ul
          li 
            a(href="/trade-account") Trade Account
          li 
            a(href="/frequently-asked-questions") FAQ
          li 
            a(href="/privacy-policy") Privacy Policy
          li 
            a(href="/contact") Contact Us
      .footer__column
        .footer__column--branches
          img(src="/images/branch-finder/branch-finder-map.png" alt="Map of the UK")
          .footer__column--branches--text 
            span We serve customers across the UK
            a(href="/contact") Find a Branch 

    .footer__bottom-strip
      .container
        div
          img(src="/images/logos/envirogard-wordmark-white.svg" alt="Envirogard Logo")
          - const year = new Date().getFullYear()
          span &copy; Specialist Hires Ltd #[span=year]
        span Website by #[a(href="https://amp.studio" target="_blank") AMP Studio] on #[a(href="https://amp.studio/cms" target="_blank") AMP CMS]