mixin footer
  .newsletter
    .container
      h4 Sign up to receive exclusive offers
      form(name="newsletter" method="POST" action="/")
        input(name="email" type="email" placeholder="Enter your email...")
        button(type="submit")
          img(src="/images/icons/search.svg" alt="Search")
      
  footer.footer
    .container      
      .footer__column
        h5 Hire From Us
        ul
          li 
            a(href="/") Our Equipment
          li 
            a(href="/") Browse by Industry
      .footer__column
        h5 Sectors
        ul
          li
            a(href="/industries/waste-mangement") Waste Management
          li
            a(href="/industries/contaminated-land") Contaminated Land
          li
            a(href="/industries/pollution-control-and-prevention") Pollution Control &amp; Prevention
          li
            a(href="/industries/tank-purging-and-cleansing") Tank Purging &amp; Cleansing
          li
            a(href="/industries/demolition-and-recycling") Demolition &amp; Recycling
          li
            a(href="/industries/") Asbestos Removal
      .footer__column
        h5 Customer Services
        ul
          li 
            a(href="/about") About Envirogard
        ul
          li 
            a(href="/trade-account") Trade Account
          li 
            a(href="/frequently-asked-questions") FAQ
          li 
            a(href="/privacy-policy") Privacy Policy
          li 
            a(href="/contact") Contact Us
      .footer__column
        .footer__column--branches
          img(src="/images/branch-finder/branch-finder-map.png" alt="Map of the UK")
          .footer__column--branches--text 
            span We serve customers across the UK
            a(href="/contact") Find a Branch 

    .footer__bottom-strip
      .container
        div
          img(src="/images/logos/envirogard-wordmark-white.svg" alt="Envirogard Logo")
          span &copy; Specialist Hires Ltd 2018
        span Website by #[a(href="https://amp.studio" target="_blank") AMP Studio] on #[a(href="https://amp.studio/cms" target="_blank") AMP CMS]