@media(max-width:mediaLargeWidth)

  html
    font-size 9px

  .nav__secondary

    > .container
        
      > div

        > ul
          
          > li

            > a, > span
              padding 1rem .5rem

  .home

    &__promoted

      &--right-column
        min-width 30rem 
        width 30rem