@media(max-width:mediaMobileWidth)

  body
    margin-top 8.7rem

    &.logged-in
      margin-top 14rem

  .hide

    &__desktop
      display block !important

    &__mobile
      display none !important

  h4
    font-size 2rem

  .container
    padding 0 (containerPadding / 2)
    
  .nav

    &__logo
      width 20rem
      height 3.6rem
      
    &__search
      display none

    &__menu
      flex-direction row

      &--useful-links
        display none

      &--contact
        display none
      
      &--contact-mobile
        display block
      
      &--search-mobile
        display block
        margin-right 2rem

        img 
          width 2.6rem
          height 2.6rem


  .home

    &__slider 

      &--carousel
        padding-top 82.2%

      .container
        padding 0.1rem

    &__promoted
      margin-top 3rem
      flex-direction column

      &--left-column
        margin-right 0
        width 100%

      &--right-column
        margin-left 0
        margin-right 0
        margin-top 2rem
        width 100%

        h4
          padding-left (containerPadding / 2)

        &--industries

          ul li
            padding-left (containerPadding / 2)
            padding-right (containerPadding / 2)

            a
              padding 2rem (containerPadding / 2)
          
          &--live-chat
            max-height 40rem
            overflow hidden

            > img 
              display none

            &--text
              // background lightGrey
              color black
              position relative
              padding 8rem containerPadding
              width 100%
              top 0
              left 0
              transform translateY(0) translateX(0)

              h4
                font-size 2.4rem
                margin 0 0 1rem 0

              h3
                font-size 2.2rem
                margin 0 0 2rem 0

            .button
              margin 0
  
  .category-listings

    &__entry
      width 100%
      margin-bottom 2rem
      position relative
      margin-right 0
      margin-bottom .5rem
      text-decoration none
      background none !important
      padding-top 0

      &:nth-child(3n)
        margin-right 0

      &--label
        position relative
        padding 2rem 1.75rem
        background mainBlue

        h3
          font-weight 500
          font-size 1.6rem
        

  .split-columns
    flex-wrap wrap

    > div
      width 100%

      &:first-child
        margin-right 0

      &:last-child
        margin-left 0