@media(max-width:mediaTabletWidth)

  body
    margin-top 10rem

    &.logged-in
      margin-top 13.5rem
    
    &.nav-scroll

      .nav__secondary
        position relative

        &--logo
          width 10rem
          
        > .container > ul > li

          > span, > a
            padding 0 1.5rem

  .hide

    &__tablet
      display none !important

  nav
    position fixed
    top 0
    z-index 999
    width 100%
    
  .nav
    z-index 9

    .container
      padding-top 1rem
      padding-bottom 1rem
      padding-right 2rem

    &__search
      padding 0 2rem

    &__logo
      width 22rem
      height 4rem

    &__menu

      &--contact
        margin-top 0
        display flex

        &--phone
          flex-shrink 0 
          margin-left 0
          min-width auto
          margin-top .5rem
          
          img 
            width 2rem !important
            height 2rem !important

          span 
            font-size 2rem

        &--email
          display none

    &__secondary
      z-index -1

      &--right
        display none !important

      .container
        position relative
        padding 0

        ul
          display none

        > div 
          width 100%
        
          > span 
            display block
            padding 1rem 0
            width 50%
            text-align center

            &:first-child
              border-right 1px solid lightBlue 

      &--dropdown
        background mainBlue

        + ul 
          display flex !important
          flex-direction column
          background mainBlueHover
          position absolute
          top 100%
          width 100vw
          transform translateY(-100%)
          transition transform .35s ease-in-out
          will-change transform
          z-index -1

          > li
            border-bottom 1px solid lightBlue 
            padding 0 !important

            > a
              display block
              box-sizing content-box
              padding 1.5rem !important
              box-shadow none !important
              width 100%

            &:hover
              cursor pointer
              background mainBlueHover
              
              ul              
                display none !important

          &.nav__secondary--industries > li

            a, span
              display none

            > ul
              display block !important
              background mainBlueHover !important
              transform translateY(-100%)
              transition transform .35s ease-in-out
              will-change transform
              z-index -1

              > li
                border-bottom 1px solid lightBlue 

                > a
                  color white !important
                  padding 1.5rem !important
                  display block !important

        &.active
          background mainBlueHover

          + ul
            transform translateY(0)
          
            &.nav__secondary--industries > li
              border-bottom none !important 

              > ul
                transform translateY(0) !important
                padding 0

  .home

    &__promoted
      margin 3rem 0

      h4
        font-size 2rem

      &--left-column
        margin-right 2rem

        .product-listings__cards--entry
          width calc(50% - .5rem)
          margin-right .75rem

          &:nth-child(2n)
            margin-right 0          

        &--offers 
          margin-top 1.5rem
        
          a
            width calc(50% - .5rem)

      &--right-column
        min-width 28rem 
        width 28rem

        &--industries--live-chat--text
          padding-top 6rem

          h4
            font-size 2rem

          h3
            font-size 2.6rem
          
  .category-listings

    &__entry
      width calc(50% - 1rem)
      margin-right 2rem
      padding-top 35%

      &:nth-child(3n)
        margin-right 2rem

      &:nth-child(2n)
        margin-right 0
