mixin adminPagination
  //- Check the required variables exist
  if page && pageCount && pageCount > 1
    .admin__pagination
      - let key = 1
      while key <= pageCount
        span(
          data-key=key 
          onclick="changePage(event)"
          class=(key === page ? 'active' : '')
        )= key
        - key++