mixin categoryListing
  a.category__results--listing(href="/products/envirogard-micro-decontamination-unit")
    .category__results--listing--image(style="background-image: url('/images/cms/products/TEMP/temp-product-1.jpg');")
    .category__results--listing--text
      h2 Envirogard Micro Decontamination Unit
      ul
        li Very compact (1.75m wide)
        li Easy to relocate and tow
        li Simple to connect to mains services
        li Low energy and compatible with generators
    .category__results--listing--more-info
      button.button__yellow.button__arrow More Info