mixin productListingCard(product)
  a.product-listings__cards--entry(href=product.pageURL)
    .product-listings__cards--entry--image
      img(src=product.mainImageThumbnailURL)
    .product-listings__cards--entry--title= product.title
    .product-listings__cards--entry--button Hire Now &nbsp;→