mixin productListingAdmin
  a.admin__listings--entry(href="/dashboard/products/envirocabin-decontamination-unit")
    .admin__listings--entry--image
      img(src="/images/cms/products/TEMP/carousel-1.jpg")
    .admin__listings--entry--text
      .admin__listings--entry--text--title Envirocabin Decontamination Unit
      .admin__listings--entry--text--subcategory Decontamination Showers
    .admin__listings--entry--buttons
      .button Edit