mixin productListingCard
  a.product-listings__cards--entry(href="/products/air-scrubbing-units/dust-control-dc-2000-aircube-air-scrubbing-unit")
      .product-listings__cards--entry--image
        img(src="/images/products/TEMP/temp-product.png")
      .product-listings__cards--entry--title Dust Control DC 2000 Aircube Air Scrubbing Unit
      .product-listings__cards--entry--button Hire Now &nbsp;→