mixin productListingCard
  a.product-listings__cards--entry(href="/product/dust-control-dc-2000-aircube-air-scrubbing-unit")
    .product-listings__cards--entry--image
      img(src="/images/cms/products/TEMP/carousel-1.jpg")
    .product-listings__cards--entry--title Maxi Quad Decontamination Shower
    .product-listings__cards--entry--button Hire Now &nbsp;→