mixin productListingAdmin(product)
  a.admin__listings--entry(href=`/dashboard/products/${product.slug}`)
    .admin__listings--entry--image
      img(src=product.mainImageThumbnailURL)
    .admin__listings--entry--text
      .admin__listings--entry--text--title= product.title
      if product.subcategory
        .admin__listings--entry--text--subcategory= product.subcategory.title
      else
        .admin__listings--entry--text--subcategory.warning No Subcategory
    .admin__listings--entry--buttons
      .button Edit