mixin subcategoryListingAdmin(subcategory)
  a.admin__listings--entry(href=subcategory.editURL)
    .admin__listings--entry--image
      img(src=subcategory.mainImageThumbnailURL)
    .admin__listings--entry--text
      .admin__listings--entry--text--title= subcategory.title
      if subcategory.category
        if subcategory.products && subcategory.products.length > 0
          - const count = subcategory.products.length
          .admin__listings--entry--text--subcategory= count + ' products'
        else
          .admin__listings--entry--text--subcategory.warning No Products
      else
        .admin__listings--entry--text--subcategory.warning No Category
    .admin__listings--entry--buttons
      .button Edit