button, .button
  display inline-flex
  align-items center
  justify-content center
  padding 1.25rem 1.75rem
  margin 2rem 0
  border none
  background-color mainBlue
  color white
  font-size 1.4rem
  text-decoration none !important
  user-select none
  font-size 1.6rem
  white-space nowrap

  &__arrow:after
    content "→"
    font-family plexBold 
    margin-left .75rem

  &:hover
    background-color mainBlueHover
    color white
    cursor pointer

  img 
    max-width 3rem
    max-height 2rem
    min-width 2rem
    margin-left 1rem

    &:first-child
      margin-left 0
      margin-right 1rem

  &__yellow
    background mainYellow 
    color offBlack

    &:hover
      background mainYellowHover
      color offBlack

  &__green
    background mainGreen 
    color white

    &:hover
      background mainGreenHover
      color white

  &__red
    background firebrick 
    color white

    &:hover
      background darkred
      color white