.container
  max-width containerWidth
  padding 0 containerPadding
  margin 0 auto

.no-margin
  margin 0 !important

.space-between
  display flex
  align-items flex-start
  justify-content space-between
  flex-wrap wrap

// Two side-by-side columns
.split-columns
  display flex
  align-items flex-start
  justify-content space-between

  > div
    width 50%

    // Gutter width
    &:first-child
      margin-right 4rem