@media(max-width:mediaTabletWidth)

  .home

    &__split-strip

      &--environment

        p
          font-size 3rem

  .branch-finder

    &__map
      width 30%

    &__info
      width 63%

      &--block

        &--titles li
          padding 2.5rem 3rem 2.5rem 2rem
      
        &--info
          padding 3rem 2rem