@import 'variables'
@import 'variables-amp'

.admin
  background offBlack

  &__bar
    background ampCMSBlack

    .container
      color white
      display flex
      align-items center
      flex-wrap wrap
      justify-content space-between

    img 
      max-height 2rem

    &--logo
      width 12rem

    &--right
      display flex
      align-items center
      white-space nowrap
      font-size 1.4rem
      line-height 1.8
      padding .5rem 1rem
      margin-right -1rem
      position relative

      &--user-icon 
        height 2rem
        width 2rem
        margin-left 1rem

      &--dropdown-icon 
        height 1rem
        width 1rem
        margin-left 1rem
        opacity 0.5

      &:hover
        background ampCMSBlackHover
        cursor pointer

        .admin__bar--right--dropdown
          display block

      &--dropdown
        position absolute
        display none
        z-index 999
        width 100%
        top calc(100% - 5px)
        left 0
        border-radius 5px
        overflow hidden
        padding-top 5px

        li a
          background ampCMSBlack
          padding 1rem
          display flex
          align-items center
          white-space nowrap
          color white
          text-decoration none

          &:hover
            background ampBlue
            color white

          img 
            max-width 2rem
            max-height 2rem
            margin-right 1rem

  &__nav
    background mainYellow

    .container
      display flex
      align-items center
      justify-content space-between
    
    &--logo img
      width 21rem

    &--links
      display flex

      li a
        display block
        text-decoration none 
        padding 2rem 2rem
        color offBlack

        &:hover
          background mainYellowHover

        &.active
          background offBlack
          color white

  &__page
    background lightGrey
    padding 2rem
    margin-top 1rem
    margin-bottom 6rem

    > h1
      font-size 3rem
      font-family plexBold 
      text-transform none
      margin-top 1rem

  &__filters
    display flex
    flex-wrap wrap
    align-items flex-end
    justify-content space-between

    .button, button
      padding .9rem 2rem
      font-size 1.4rem

    form
      display flex
      flex-wrap wrap
      align-items flex-end

      > div
        display flex
        flex-direction column
        margin-right 2rem

      select
        min-width 15rem

      label
        font-size 1.4rem

  &__pagination
    width 100%
    margin 2rem 0 0 0
    display block
    text-align center
    position relative
    
    &--count
      position absolute
      top 0
      left 0

      > span 
        margin 0
        padding 0
        font-size 1.4rem

    > span
      color mediumGrey

    > a, > span
      margin 0 .25rem
      text-decoration none
      padding .35rem .75rem
      font-size 1.4rem

      &:hover
        background lightGreyBorder
        color mainBlue
        cursor pointer

      &.active
        background mainBlue
        color white

  &__listings
    margin-top 2rem
    display flex
    flex-direction column

    &--add
      background #EEF8EB
      border 2px dashed #6DAE26
      text-align center
      padding 2rem
      color #6DAE26
      text-decoration none
      margin-bottom .5rem

      &:hover
        text-decoration none
        color darkgreen
        border-color darkgreen

    &--entry
      background white
      border 1px solid lightGreyBorder
      display flex
      color offBlack 
      text-decoration none
      margin-bottom .5rem

      &:hover
        text-decoration none
        border-color mainBlue

        .admin__listings--entry--text--title
          color mainBlue

        .button
          background mainBlueHover

      &--image
        width 11rem
        height 7rem
        overflow hidden
        position relative
        flex-shrink 0
        background lightGrey

        img 
          position absolute
          top 50%
          transform translateY(-50%)

      &--text
        flex-grow 1
        text-align left
        padding 1.4rem 3rem
        display flex
        flex-direction column
        justify-content center

        &--title
          font-family plexBold

        &--subcategory
          color mediumGrey
          font-size 1.4rem

          &.warning
            color firebrick

      &--buttons
        padding-right 2rem
        display flex
        flex-direction column
        justify-content center

        .button
          padding .75rem 3rem
          margin 0

  &__upload-progress
    background white
    border 1px solid lightGreyBorder 
    border-top none
    padding 2rem
    display none

    &.active
      display block

    h5
      margin-top 0
          
    progress
      display block
      width 100%

  &__errors
    background darkred
    padding 2rem
    color white
    border 2px solid red
    margin 2rem 0
    display none

    &.active
      display block

    h5, p
      margin 0

  &__save-buttons
    display flex
    align-items center
    justify-content space-between
    border-top 2px solid lightGreyBorder

    button, .button
      margin 3rem 0 1rem 0 !important

  &__form

    h1 
      font-size 3.2rem
      font-family plexBold
      color mainBlue
      text-transform none

    button[type="submit"]
      margin-bottom 0

    label
      display block
      width 100%
      font-family plexBold
      margin-bottom .5rem

.edit-product
  margin-top 2rem  

  &__images
    display inline-flex
    flex-wrap wrap
    align-items stretch
    margin-top 1rem 
    margin-bottom 2rem

    &--entry
      margin-right 1rem
      margin-bottom 1rem
      position relative
      min-width 10rem
      background lightGreyBorder
      border 1px solid lightGreyBorder
      user-select none

      &:hover
        cursor move
        border-color mainBlue

        img
          opacity 0.7

      &.dragover
        background lightBlue

        img
          opacity 0.7

      input
        display none

      img
        margin 0 auto
        width auto
        height 12.5rem
        pointer-events none

      &--delete
        position absolute
        top 1rem
        right 1rem
        padding .5rem .6rem .6rem .6rem
        line-height 0.6
        background red
        color white
        z-index 9

        &:hover
          background firebrick
          cursor pointer

    &--new
      width 20rem
      height 12.5rem
      position relative
      background lightGrey 
      border 3px dashed lightGreyBorder     
      user-select none

      input
        height 100%
        width 100%
        position absolute
        top 0
        left 0
        opacity 0

        &:hover
          cursor pointer

          ~ .edit-product__images--new--text
            color mainBlue

      &:hover
        background lightGreyBorder
        border-color mainBlue
        cursor pointer

      &--text
        height 100%
        display flex
        flex-direction column
        align-items center
        justify-content center
        color #aaa

        &--plus
          font-size 4rem
          font-family plexBold 
          line-height 0.8

        span 
          font-family plexBold

.edit-linked

  &__listings
    width 100%
    margin-bottom 3rem

    input
      width 100%

      &:focus ~ .edit-linked__listings--autocomplete
        display block

    &--autocomplete
      position relative
      display none

      div
        border 1px solid mainBlue
        width 100%
        position absolute
        top 100%
        left 0
        background white  

      span 
        text-transform uppercase
        font-size 1.4rem
        font-family plexBold
        color mainBlue
        padding .5rem 2rem
        display block

      ul

        li
          padding 1rem 2rem
          border-top 1px solid lightGreyBorder
          color #999

          &[data-id]
            color offBlack

          &:hover, &.active
            background mainBlue
            color white
            cursor pointer

    &--container
      width 100%
      margin-top 1rem
      background white

      > div
        border 1px solid lightGreyBorder
        border-bottom none
        padding 1rem 3rem
        display flex
        justify-content space-between
        align-items center

        &:last-child
          border-bottom 1px solid lightGreyBorder

        > div span
          color mainBlue
          text-decoration underline
          margin-left 2.5rem
          user-select none

          &:hover
            color mainBlueHover 
            cursor pointer 

        .button
          margin 0
          padding 1rem 3rem

.label-and-input
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom 1.75rem
  width 100%

  .link
    font-size 1.4rem
    display inline-block

  input, textarea, select, > div
    width 100% !important

  label
    font-family plexBold
    margin-bottom .5rem
    display inline-block
    width auto

.file-uploaded
  display flex
  align-items center
  font-size 1.4rem

  img 
    width 15px
    height 15px

  span 
    margin 0 1rem

.checkbox
  display flex
  align-items center
  margin-top .75rem

  input
    width auto

  label
    font-family plexRegular
    font-size 1.4rem
    margin 0 0 0 1rem

.multiple-input

  > div
    display flex
    margin-bottom .75rem

    input
      margin-right 1rem

  &__delete
    padding .75rem 1.25rem
    user-select none

    &:hover
      cursor pointer
      background lightGreyBorder

  &__add
    color mainBlue 
    text-decoration underline
    font-size 1.4rem

    &:hover
      color mainBlueHover
      cursor pointer

.lightbox
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0.5)
  z-index 999
  display none

  &.active
    display block

  &__window
    position absolute
    background white
    color offBlack
    padding 4rem
    border-radius 1rem
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)

    h4
      margin-top 0
      color mainBlue
      margin-bottom 1.5rem

    &--buttons
      display flex
      align-items center
      justify-content right

#delete-item__lightbox

  p.bold
    padding 1rem
    background lightGrey
    border 1px solid lightGreyBorder

  span 
    color mainBlue 
    text-decoration underline
    margin 0 3rem

    &:hover
      color lightBlue
      cursor pointer

.image-preview
  margin-bottom 3rem

  &__cropped
    background lightGreyBorder
    padding-top 60%
    overflow hidden
    position relative

    img
      position absolute
      top 50%
      left 0
      width 100%
      transform translateY(-50%)

#pell
  border 1px solid lightGreyBorder

.pell

  &-actionbar
    padding 1rem

  &-button
    color offBlack
    margin 0

  &-content
    background white

    h1
      font-family plexBold
      font-size 2.8rem

    h2
      font-family plexBold
      font-size 2.2rem

    ul
      margin-left 4rem

      li
        list-style disc

    ol
      margin-left 4rem

      li
        list-style decimal