@import 'variables'

.admin

  &__bar
    background #111111

    .container
      color white
      display flex
      align-items center
      flex-wrap wrap
      justify-content space-between

    img 
      max-height 2rem

    &--logo
      width 12rem

    &--right
      display flex
      align-items center
      white-space nowrap
      font-size 1.4rem
      line-height 1.8
      padding .5rem 1rem
      margin-right -1rem

      img 
        height 2rem
        margin-left 1rem

      &:hover
        background #333
        cursor pointer