// Critical CSS is inlined in the <head> tag for faster page renders
// Try to keep the compiled CSS below 10kb for maximum performance

@import 'variables'
@import 'critical/reset'
@import 'critical/fonts'
@import 'critical/typography'
@import 'critical/grid'
@import 'critical/utilities'
@import 'critical/buttons'
@import 'critical/forms'
@import 'critical/flickity'

html
  background-color offBlack

body
  background-color white

@media(min-width:mediaLargeWidth)
  
  body  

    &.nav-scroll
      margin-top 4rem

      .nav__secondary
        position fixed
        top 0

nav
  z-index 2

.nav
  background-color mainYellow
  user-select none
  width 100%

  .container
    display flex
    justify-content space-between
    align-items center
    padding-top 1.5rem
    padding-bottom 1.5rem

  &__logo
    width 33rem
    height 6rem

  &__search
    display flex
    flex-direction row
    width 35rem

    input
      height 4rem
      flex-grow 1
      color mediumGrey

    button
      margin 0
      padding 1rem

      img
        width 1.8rem
        height 1.9rem
        margin-right 0
        
    
  &__menu
    display flex
    flex-direction column
    align-items flex-end

    &--search-mobile
      display none

    &--contact-mobile
      display none

    &--useful-links
      display flex
      
      > li
        height 1.2em
        display flex
        align-items center
        border-right 1px solid black

        a
          text-decoration none 
          color offBlack
          display inline-block
          box-sizing border-box
          padding 0 1rem
          font-size 1.5rem

          &:hover
            text-decoration underline

        &:last-child
          border none

          a
            padding-right 0

    &--contact
      margin-top .25rem
      
      &--phone, &--email
        display flex
        align-items center
        justify-content flex-end
        text-decoration none
        min-width 19rem
        margin-left 2rem
        margin-top .25rem

        &:hover
          text-decoration underline

        img
          width 2rem
          height 2rem

        span
          display none
          font-family antiqueOlive
          font-size 2.1rem
          color mainBlue 
          margin-left .75rem
          line-height 1
          
          &.active
            display flex

      &--email span 
        font-size 1.4rem
        font-family plexBold
        margin-top .5rem

    &--branch
      font-size 1.4rem
      display flex

      span
        display flex
        align-items center
        flex-wrap nowrap

        img
          width .8rem
          height .8rem
          margin-left .25rem

      &--name
        margin 0 .25rem 0 1rem

      &--change
        color mainBlue
        position relative
        
        &:hover 
          cursor pointer
          
          ul
            display flex

        ul
          display none
          flex-direction column
          position absolute
          background lightGrey
          padding .5rem 0
          z-index 10
          top 100%
          right 0

          li
            padding .75rem 1.5rem

            &:hover
              background lightBlue
              color white

            &.active
              background mainBlue 
              color white

  &__secondary
    width 100%
    background-color mainBlue
    position relative
    user-select none
    z-index 9

    &--mobile-label
      display none
      
    > .container
      display flex
      justify-content space-between
      align-items center
      padding 0 1rem
      color white
      white-space nowrap
      
      > div
        display flex
        line-height 1.1
        font-size 1.4rem

        .nav__secondary--products li a
          box-shadow 1px 0px 0px 0px rgba(255,255,255,0.25)

        > ul
          display flex
          
          > li
            display flex
            align-items center
            padding 1rem 0 .95rem 0
            position relative

            > ul          
              display none
              position absolute
              min-width 100%
              top 100%
              left 0
              background-color lightGrey
              box-shadow 0px 0px 15px 0px rgba(0,0,0,0.15)
              padding 1rem 0

              > li a
                text-decoration none
                padding 1rem 2rem
                white-space nowrap
                display block

                &:hover
                  background-color mainBlue
                  color white

            > a, > span
              height 1.2em
              padding 0 1.25rem
              color white
              text-decoration none
              white-space nowrap

            &.live-chat__start-button a
              display flex
              height auto

              img
                width 2.6rem
                height 1.9rem
                margin-right 1rem             

            &:hover
              background-color mainBlueHover

              span, a
                box-shadow none

              > ul
                display block

.page-header
  background offBlack 
  padding 3rem 0
  color white

  h1
    font-size 4rem

.home

  &__slider

    &--blue-strip
      background-color offBlack
      width 100%

    &--carousel
      // Gives the carousel the correct height on first paint
      // to stop page jumping when images load
      padding-top 33.3%
      position relative    

      .flickity

        &-viewport
          position absolute
          top 0
          left 0
          width 100%

        &-slider 
          position absolute
          top 0
          left 0
          
        &-prev-next-button
          display none

        &-page-dots
          bottom 10px

          li
            background-color white

      &--image
        width 100%
        height 100%
        background-size contain
        background-repeat no-repeat
        margin-right 50px

        // Desktop images
        &:nth-child(1)
          background-image url("/images/cms/homepage/slider/slider-1.jpg")
        &:nth-child(2)
          background-image url("/images/cms/homepage/slider/slider-2.jpg")
        &:nth-child(3)
          background-image url("/images/cms/homepage/slider/slider-3.png")

      // Mobile images
      @media(max-width:mediaMobileWidth)
        .home__slider--carousel--image
          &:nth-child(1)
            background-image url("/images/cms/homepage/slider/slider-1-mobile.jpg")
          &:nth-child(2)
            background-image url("/images/cms/homepage/slider/slider-2-mobile.jpg")
          &:nth-child(3)
            background-image url("/images/cms/homepage/slider/slider-3-mobile.png")

        .flickity

          &-viewport
            // Gives the carousel the correct height on first paint
            // to stop page jumping when images load
            padding-top 82.58%
            
  &__promoted
    display flex
    margin-top 5rem

    h4
      margin 0 2rem 0 0

    &--left-column
      flex-grow 1
      margin-right 3rem
      
      &--popular-products

        &--title
          display flex
          flex-wrap wrap
          justify-content space-between
          align-items flex-end
          margin-bottom 2rem
          width 100%
          
      &--offers
        margin-top 1rem
        display flex
        align-items flex-start
        justify-content space-between

        a
          width calc(50% - 1.5rem)

    &--right-column
      min-width 30rem

      &--industries

        ul
          background-color mainYellow
          margin-top 2rem

          li
            font-family plexBold
            font-size 1.6rem
            padding 0 2rem

            a
              display block
              padding 1.66rem 1.25rem
              border-bottom 1px solid rgba(0,0,0,0.25)
              text-decoration none 
              color offBlack

              span::after
                content "→"
                width 3rem
                height 3rem
                background-color white
                border-radius 3rem
                float right
                display flex
                align-items center
                justify-content center
                transform translateY(-.4rem)

              img
                width 3rem
                height 3rem

            &:last-child a
              border none

            &:hover
              background-color mainYellowHover

        &--live-chat
          position relative

          &--text
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            height 100%
            width 100%
            padding 10rem 4rem 1.5rem 4rem
            text-align center
            display flex
            flex-direction column
            justify-content space-around
            color white

            h4
              font-family antiqueOlive
              font-size 2.2rem
              margin 0 0 1rem 0

            h3
              margin 0 0 2rem 0
              font-family plexLight

.category-listings
  width 100%
  display flex
  flex-wrap wrap
  align-items flex-start

  &__entry
    width calc(33.333% - 1.4rem)
    margin-bottom 2rem
    position relative
    margin-right 2rem
    outline 1px solid lightGreyBorder
    padding-top calc((33.333% - 1.333rem) * 0.87 )
    background-size cover
    background-position center

    &:nth-child(3n)
      margin-right 0

    &--label
      position absolute
      bottom 0
      padding 1.5rem 1.25rem
      width 100%
      background-color mainBlueTransparent 
      
      h3
        margin 0
        font-size 1.5rem
        color white
        font-family plexRegular
        display flex
        justify-content space-between

        &::after
          content "→"
          font-family plexBold
          margin-left .25rem

    &:hover .category-listings__entry--label
      background-color mainBlueHoverTransparent

@import 'critical/media-queries/large-critical'
@import 'critical/media-queries/tablet-critical'
@import 'critical/media-queries/mobile-critical'