// Use for non-critical (below the fold) styles
// Will be linked as an external stylesheet

@import 'variables'

footer
  margin-top 3rem
  padding 1rem
  background-color lightGrey

  .container
    display flex
    flex-wrap wrap
    justify-content space-between