// Use for non-critical (below the fold) styles
// Will be linked as an external stylesheet

@import 'variables'
  
.flash-messages
  display block

  .flash
    display block
    background-color firebrick
    color white

    .container
      text-align center
      display flex
      justify-content space-between
      align-items center

    &__text
      margin 0
      flex-grow 1

    &--success
      background-color forestgreen

      .flash__remove
        background-color forestgreen

        &:hover
          background-color darkgreen

    &__remove
      padding .5rem .75rem
      margin 0
      float right
      font-size 2rem
      background-color firebrick
      line-height 1

      &:hover
        cursor pointer
        background-color darkred

.home

  &__split-strip
    background-color mainYellow
    margin-top 6rem
    padding 3rem 0
    position relative

    .container
      display flex
      justify-content space-between
      align-items center
      position relative
      z-index 1

    &--popular-categories
      width 42rem
      padding-right containerPadding
      max-width 50%

      &--title
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between

        a
          margin-top .5rem

    &--environment
      max-width 40%
      display flex
      flex-direction column
      justify-content center
      align-items flex-start

      p
        color white
        font-size 3.2rem
        font-family plexLight

    &--environment-background
      position absolute
      width 50%
      height 100%
      right 0
      top 0
      background-image url("/images/homepage/environment.jpg")
      background-size cover
      background-position 50%
      z-index 0    

.popular-products

  li
    margin-bottom .5rem
    font-size 1.8rem

    a
      background mainBlue
      padding 2rem
      color white
      text-decoration none
      display block

      &:hover
        background-color mainBlueHover

      span::after
        content "→"
        width 3rem
        height 3rem
        font-family plexBold
        background-color white
        color mainBlue
        border-radius 3rem
        float right
        display flex
        align-items center
        justify-content center
        transform translateY(-.4rem)

.branch-finder 

  .container
    display flex
    flex-wrap wrap

  &__info
    width 50%
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    margin-top -5rem

    &--title
      width 100%
      display flex
      flex-wrap wrap
      justify-content space-between
      align-items flex-end
      margin 2rem 0

      h4
        margin 0

      &--use-location
        color mainBlue
        text-decoration underline
        display flex

        img
          width 2rem
          height 2rem
          margin-left 1rem

        &:hover
          cursor pointer

    &--block
      background mainBlue
      display flex
      width 100%

      &--titles
        background offBlack !important
        white-space nowrap

        li
          padding 2.5rem 5rem 2.5rem 3.5rem
          color white
          font-size 1.8rem
          border-bottom 1px solid offBlackHover

          span
            color mainYellow

            &::after
              content "."

          &:hover
            background offBlackHover
            cursor pointer
          
          &.active
            background mainBlue

      &--info
        padding 3rem
        flex-grow 1
        color white
        display none
        background mainBlue

        &.active
          display block

        &--logo
          max-width 20rem

        h5
          margin 0 0 2.5rem 0

        ul
          flex-grow 1
          margin-right 1rem

        &--container
          display flex
          flex-wrap wrap
          align-items flex-start
          justify-content space-between
          font-size 1.5rem

          &--address, .button
            margin-bottom 2rem

          .button
            margin-top 0
            background mainYellow 
            color offBlack
            font-family plexBold

            &:hover
              background mainYellowHover

          &--opening-times
            margin-bottom .75rem
            width 100%

            li
              display flex
              flex-wrap wrap
              width 100% 
              justify-content space-between

            &--by-arrangement
              width 100%
              text-align right
              font-size 1.3rem

          &--contact

            a
              color mainYellow
              text-decoration none
              width 100%
              display flex
              align-items center
              font-size 1.8rem

              img
                width 2rem
                margin-right 1rem

  &__map
    width 50%
    padding 6rem 0
    margin 0 auto

    svg
      max-width 32rem
      margin 0 auto

      .landmass
        fill offBlack

      g.active .landmass
        fill mainBlue !important
        
      #branch-finder > g:hover
        cursor pointer

        .landmass
          fill offBlackHover

.about
  padding-top 6rem
  padding-bottom 6rem
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content space-between

  &__column

    &:nth-child(1)
      max-width 50%
      padding-right 8rem

    &:nth-child(2)
      max-width 32rem

    h3
      color mainBlue
      font-size 2.4rem
      margin 6rem 0 2rem 0

    > ul
      list-style disc
      padding-left 2rem
      margin-bottom  2rem

      li 
        list-style disc
        padding-left 1rem

    .button
      margin 1rem 0 0 0

.contact-forms
  background offBlack 
  padding 6rem 0
  color white

  h3
    margin-top 0

  .container
    display flex
    justify-content space-between
    align-items flex-start
    flex-wrap wrap

    > div
      max-width calc(50% - 2rem)

  &__enquiry

    form
      display flex
      flex-wrap wrap
      justify-content space-between

    label
      font-family plexBold 
      font-size 1.4rem
      margin-bottom .5rem

    textarea
      padding 1rem

    input:focus, textarea:focus
      border 1px solid lightBlue

    &--input
      width 48%
      display flex
      flex-direction column
      margin-bottom 2rem

    &--textarea
      width 100%
      display flex
      flex-direction column

    &--bot
      display none

    &--errors
      width 100%
      margin-top 2rem

      span
        display block
        margin-bottom .5rem
        color red

      p
        border 1px solid red
        background darkred
        padding .5rem
        margin 0 0 .5rem 0

  &__other

    .button
      margin 1rem 0 5rem 0

.page-columns
  padding 6rem 0 4rem 0
  display flex
  align-items flex-start
  justify-content space-between
  flex-wrap wrap

  &__column
    width 45%

    h3
     color mainBlue
     margin-top 1rem

    .button
      margin 0

    > ul
      list-style disc
      padding-left 2rem
      margin-bottom  2rem

      li 
        list-style disc
        padding-left 1rem

.grey-strip
  background lightGrey 
  padding 4rem 0

.newsletter
  background-color lightGrey
  padding 4rem 0 6rem 0

  .container
    display flex
    flex-direction column
    align-items center
    text-align center

    h4 
      font-size 2.6rem
      color darkBlue
      margin-bottom 1.5rem

    form
      width 45rem
      display flex

      input 
        flex-grow 1
        padding 1rem 1.5rem

      button 
        margin 0

.category
  
  &__header
    background offBlack 

    .container
      display flex
      align-items center

      h1
        font-size 4rem
        line-height 5rem
        margin 0
        padding 5rem 0
        color white
        
      img
        width 50%
        min-width 50%

  &__description
    padding 5rem 0
    max-width 62rem

    &--read-more
      color mainBlue
      text-decoration underline
      font-family plexBold
      display inline-block

      &::after
        content "Read more"

      &:hover
        cursor pointer

    &.expanded .category__description--read-more::after
        content "Read less"

.footer
  background-color mainBlue
  color white
  font-size 1.4rem

  > .container
    padding-top 4rem
    padding-bottom 4rem
    display flex
    align-items flex-start
    flex-wrap wrap

  &__column
    line-height 1.6
    width 25%
    padding-right 1rem

    &--branches
      width 100%
      position relative

      img
        max-height 24rem
        width auto
        margin 0 auto

      &--text
        position absolute
        top 50%
        left 50%
        transform translateY(-50%) translateX(-50%)
        margin 0 auto
        font-size 1.8rem
        text-align center

        span
          width 17rem 
          display block
          margin-bottom 1rem

        a
          color mainYellow !important
          text-decoration underline !important
          font-family plexBold


  h5
    margin 0 0 2rem 0
  
  ul li
    padding .5rem 0

  a
    color white
    text-decoration none

    &:hover
      text-decoration underline
  
  p
    margin 0

  &__bottom-strip
    background-color offBlack

    .container
      display flex
      flex-wrap wrap
      justify-content space-between
      padding-top 1rem
      padding-bottom 1rem

      div, span, a
        font-size 1.3rem

      div
        display flex
        flex-wrap wrap
        align-items center

      img
        width 12rem
        margin-right 2rem

      a
        font-size 1.3rem
        font-family plexBold

.login
  margin 6rem auto
  max-width 40rem
  padding 2rem

  img
    margin-bottom 4rem
    padding 0 2rem

  form
    display flex
    flex-direction column

    label
      margin-top 1rem

@import 'main/media-queries/large'
@import 'main/media-queries/tablet'
@import 'main/media-queries/mobile'
