// Use for non-critical (below the fold) styles
// Will be linked as an external stylesheet

@import 'variables'
  
.breadcrumbs
  background lightGrey
  padding 1.25rem 0
  margin-bottom 4rem

  .container
    display flex 
    flex-wrap wrap
    width 100%
    font-size 1.4rem

    li
      margin-right 1rem

      &::after
        content ">"

      &:last-child::after
        content ""

      a
        text-decoration none
        font-family plexBold
        margin-right 1rem

        &:hover
          text-decoration underline

.flash-messages
  display block

  .flash
    display block
    background-color firebrick
    color white

    .container
      text-align center
      display flex
      justify-content space-between
      align-items center

    &__text
      margin 0
      flex-grow 1

    &--success
      background-color forestgreen

      .flash__remove
        background-color forestgreen

        &:hover
          background-color darkgreen

    &__remove
      padding .5rem .75rem
      margin 0
      float right
      font-size 2rem
      background-color firebrick
      line-height 1

      &:hover
        cursor pointer
        background-color darkred

.home

  &__split-strip
    background-color mainYellow
    margin-top 6rem
    padding 3rem 0
    position relative

    .container
      display flex
      justify-content space-between
      align-items center
      position relative
      z-index 1

    &--popular-categories
      width 42rem
      padding-right containerPadding
      max-width 50%

      &--title
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between

        a
          margin-top .5rem

    &--environment
      width 40%
      display flex
      flex-direction column
      align-items flex-start

      p
        color white
        font-size 3.2rem
        font-family plexLight
        max-width 100%

    &--environment-background
      position absolute
      width 50%
      height 100%
      right 0
      top 0
      background-image url("/images/homepage/environment.jpg")
      background-size cover
      background-position 50%
      z-index 0    

.popular-products
  max-width 38rem

  li
    margin-bottom .5rem

    a
      background mainBlue
      padding 2rem
      color white
      text-decoration none
      display block
      font-size 1.8rem

      &:hover
        background-color mainBlueHover

      span
        display flex
        align-items center
        justify-content space-between

      span::after
        content "→"
        width 3rem
        height 3rem
        min-width 3rem
        font-family plexBold
        background-color white
        color mainBlue
        border-radius 3rem
        float right
        display flex
        align-items center
        justify-content center
        transform translateY(-.4rem)

.branch-finder 

  .container
    display flex
    flex-wrap wrap

  &__info
    width 50%
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    margin-top -5rem

    &--title
      width 100%
      display flex
      flex-wrap wrap
      justify-content space-between
      align-items flex-end
      margin 2rem 0

      h4
        margin 0

      &--use-location
        color mainBlue
        text-decoration underline
        display flex

        img
          width 2rem
          height 2rem
          margin-left 1rem

        &:hover
          cursor pointer

    &--block
      background mainBlue
      display flex
      width 100%

      &--titles
        background offBlack !important
        white-space nowrap

        li
          padding 2.5rem 5rem 2.5rem 3.5rem
          color white
          font-size 1.8rem
          border-bottom 1px solid offBlackHover

          span
            color mainYellow

            &::after
              content "."

          &:hover
            background offBlackHover
            cursor pointer
          
          &.active
            background mainBlue

      &--info
        padding 3rem
        width 100%
        color white
        display none
        background mainBlue

        &.active
          display block

        &--logo
          max-width 20rem

        h5
          margin 0 0 2.5rem 0

        ul
          flex-grow 1
          margin-right 1rem

        &--container
          display flex
          flex-wrap wrap
          align-items flex-start
          justify-content space-between
          font-size 1.5rem

          &--address, .button
            margin-bottom 2rem

          .button
            margin-top 0
            background mainYellow 
            color offBlack
            font-family plexBold

            &:hover
              background mainYellowHover

          &--opening-times
            margin-bottom .75rem
            width 100%

            li
              display flex
              flex-wrap wrap
              width 100% 
              justify-content space-between

            &--by-arrangement
              width 100%
              text-align right
              font-size 1.3rem

          &--contact

            a
              color mainYellow
              text-decoration none
              width 100%
              display flex
              align-items center
              font-size 1.8rem

              img
                width 2rem
                margin-right 1rem

  &__map
    padding 6rem 0
    margin 0 auto

#branch-finder-svg
  max-width 32rem
  margin 0 auto

  .landmass
    fill offBlack

  g.active .landmass
    fill mainBlue !important
    
  #branch-finder > g:hover
    cursor pointer

    .landmass
      fill offBlackHover

.faq
  padding 4rem 0 8rem 0 !important

 .page-columns__column
 
    h2, h3
      color mainBlue
      font-size 2.4rem
      margin 3rem 0 2rem 0
      font-family plexBold 

.about
  padding-top 6rem
  padding-bottom 6rem
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content space-between

  &__column

    &:nth-child(1)
      width 50%

    &:nth-child(2)
      width 32rem
      margin 0 auto

    h2, h3
      color mainBlue
      font-size 2.4rem
      margin 6rem 0 2rem 0
      font-family plexBold 

    &:first-child ul
      list-style disc
      padding-left 2rem
      margin-bottom  2rem

      li 
        list-style disc
        padding-left 1rem

    .button
      margin 1rem 0 0 0

.contact-forms
  background offBlack 
  padding 6rem 0
  color white

  h3
    margin-top 0

  .container
    display flex
    justify-content space-between
    align-items flex-start
    flex-wrap wrap

    > div
      max-width calc(50% - 2rem)

  &__enquiry

    form
      display flex
      flex-wrap wrap
      justify-content space-between

    label
      font-family plexBold 
      font-size 1.4rem
      margin-bottom .5rem

    textarea
      padding 1rem

    input:focus, textarea:focus
      border 1px solid lightBlue

    &--input
      width 48%
      display flex
      flex-direction column
      margin-bottom 2rem

    &--textarea
      width 100%
      display flex
      flex-direction column

    &--bot
      display none

    &--errors
      width 100%
      margin-top 2rem

      span
        display block
        margin-bottom .5rem
        color red

      p
        border 1px solid red
        background darkred
        padding .5rem
        margin 0 0 .5rem 0

  &__other

    .button
      margin 1rem 0 5rem 0

.page-columns
  padding 6rem 0 4rem 0
  display flex
  align-items flex-start
  justify-content space-between
  flex-wrap wrap

  &__column
    width 45%

    h3
     color mainBlue
     margin-top 1rem

    .button
      margin 0

    > ul
      list-style disc
      padding-left 2rem
      margin-bottom  2rem

      li 
        list-style disc
        padding-left 1rem

.grey-strip
  background lightGrey 
  padding 4rem 0

.newsletter-strip
  background-color lightGrey
  padding 4rem 0 6rem 0

  .container
    display flex
    flex-direction column
    align-items center
    text-align center

    h4 
      font-size 2.6rem
      color darkBlue
      margin-bottom 1.5rem

    form
      width 45rem
      display flex

      input 
        flex-grow 1
        padding 1rem 1.5rem

      button 
        margin 0

        img
          margin 0

.product
  display flex
  align-items flex-start
  justify-content space-between
  flex-wrap wrap
  margin-bottom 6rem

  &__right-column, &__left-column
    width calc(50% - 3rem)
    margin-bottom 4rem

  &__description
    margin-bottom 4rem

    h1
      font-size 3rem
      text-transform none
      color mainBlue
      font-family plexBold
      margin-top 0

    p
      line-height 1.7

    ul

      li
        line-height 2
        list-style square inside url("/images/icons/check-blue.png")

        &::before
          content " "

  &__block
    width 100%
    margin-bottom 5rem

    &--title
      display inline-block
      background mainBlue 
      margin 0
      padding 1rem 2.5rem .6rem 2.5rem
      color white
      font-size 1.6rem

    &--content
      border 1px solid lightGreyBorder 
      border-top 5px solid mainBlue
      padding 2.5rem

      &--branch-finder
        border-bottom 1px solid lightGreyBorder
        padding-bottom 2.5rem
        display flex
        align-items flex-start

        &--text
          width 50%

          h4
            margin-top 2rem
            font-size 2.8rem

          p
            margin 3rem 0 3.5rem 0

          select 
            width 100%

        &--map
          width 50%    

          .branch-finder__map 
            padding 0
            width 90%

          svg
            max-width 15rem !important
            max-height 25.4rem
            margin 0 auto

      &--entry
        display none
        width 100%

        &.active
          display block

        h5
          margin 0

        &--area
          display flex
          align-items flex-start
          margin 2.5rem 0 2.5rem 0

          &--title
            flex-grow 1
            margin-right 2rem

            img
              max-width 17rem

          .button
            margin 0
            flex-shrink 0
            font-family plexBold

        &--hire-options

          ul
            margin-top 1rem

            li
              display flex
              width 100%
              margin-bottom 1rem

              &:last-child
                margin-bottom 0

              > span 
                padding 0 2rem
                color white
                background mainBlue
                flex-shrink 0
                display flex
                align-items center

              > div
                background lightGrey
                padding 1.25rem 2rem
                flex-grow 1

                h6
                  margin 0 0 .25rem 0

                a
                  display flex
                  text-decoration none 
                  font-family plexBold
                  font-size 1.8rem

                  img
                    width 2.5rem
                    max-height 2.5rem
                    margin-right 1rem

                .button
                  margin 1rem 0 0 0
                  font-family plexBold

      &--specifications
      
        li
          display flex
          flex-direction column
          margin-bottom 2rem

          &:last-child
            margin 0

          span:first-child
            font-family plexBold

  &__carousel

    &--current
      border 1px solid lightGreyBorder

      .flickity-prev-next-button
        border-radius 0
        padding 4rem 2rem
        border 1px solid lightGreyBorder

      &--image
        padding-top 100%
        width 100%
        position relative

        img
          max-width 100%
          max-height 100%
          width auto
          height auto
          position absolute
          top 50%
          left 50%
          transform translateY(-50%) translateX(-50%)

    &--nav
      height auto
      padding 0 8rem
      margin-top 2rem
      margin-bottom 5rem

      .flickity-prev-next-button
        padding 0
        margin 0
        width 3rem
        height 3rem
      
      &--image
        padding-top 25%
        width 25%
        margin-right 1rem
        position relative
        box-sizing content-box
        box-shadow 0 0 0 1px lightGreyBorder inset

        &.is-selected
          box-shadow 0 0 0 3px mainBlue inset
          
        img
          z-index -1
          position absolute
          top 50%
          left 50%
          transform translateY(-50%) translateX(-50%)

  &__long-description
    margin-top 2rem

    h2
      color mainBlue
      font-family plexBold
      font-size 2rem

    p
      font-size 1.4rem
      line-height 1.7

  &__youtube-embed
    width 100%
    margin-bottom 1rem

.product-listings
  width 100%
  display flex
  flex-wrap wrap
  align-items flex-start

  h4
    width 100%

  &__cards

    &--entry
      width calc(20% - 1.2rem)
      text-decoration none
      text-align center
      border 1px solid lightGreyBorder
      margin-right 1.5rem

      &:last-child
        margin-right 0

      &--image
        padding-top 70%
        position relative
        overflow hidden

        img
          position absolute
          top 50%
          left 50%
          transform translateY(-50%) translateX(-50%)

      &--title
        font-family plexBold
        background lightGrey
        padding 1rem 1.5rem
        color black

      &--button
        font-family plexBold
        background mainBlue 
        color white
        padding .75rem
      
      &:hover
        text-decoration none 

        .product-listings__cards--entry--button
          background mainBlueHover

.category
  display flex
  align-items flex-start
  flex-wrap wrap
  margin-bottom 5rem
  
  &__header
    background offBlack 

    .container
      display flex
      align-items center

      h1
        font-size 4rem
        line-height 5rem
        margin 0
        padding 5rem 3rem 5rem 0
        color white
        min-width 50%

    &--image
      width 50%
      min-width 50%
      padding-top 27%
      background-size cover
      background-position center

  &__description
    padding 5rem 0 3rem 0
    max-width 62rem

    &--read-more
      color mainBlue
      text-decoration underline
      font-family plexBold
      display inline-block
      margin-bottom 1rem

      &::after
        content "Read more ↓"

      &:hover
        cursor pointer

    p
      display none

      &:first-child
        display block

    &.expanded 

      p
        display block
      
      .category__description--read-more::after
        content "Read less ↑"

  &__filter
    width 29%
    padding-right 4rem

    form
      padding 2rem
      background lightGrey
      user-select none
      margin-bottom 3rem

    h4
      margin 0 0 2rem 0
      font-size 1.8rem
      color darkBlue
      padding-bottom 1rem
      border-bottom 2px solid lightGreyBorder

    &--subcategories

      label
        display flex
        align-items center
        flex-direction row
        justify-content space-between
        font-size 1.4rem
        margin-top 1rem

        &:hover
          cursor pointer

      .checkbox
        width 1.8rem 
        height 1.8rem
        background white
        border 1px solid mediumGrey
        margin-right 1.5rem

      a
        text-decoration none
        color offBlack

        &:hover .checkbox
          background lightBlue
          outline 2px solid white
          outline-offset -3px

        &.active 
          
          .checkbox
            background mainBlue
            outline 2px solid white
            outline-offset -3px

          &:hover .checkbox
            background #aaa
            outline 2px solid white
            outline-offset -3px

    &--search--input
      display flex
      align-items stretch
      width 100%
      max-width 100%

      input 
        font-size 1.4rem
        flex-grow 1
        min-width 1px

      button 
        margin 0
        padding 1rem

        img
          width 1.6rem
          height 1.6rem
          margin-right 0

    &--popular-categories 

      h3
        font-size 2.4rem

      .popular-products

        li
          background mainBlue
          margin 0
          padding 0 2rem

          a
            border-bottom 1px solid lightBlue
            padding 1.75rem 1rem
            font-size 1.6rem
            background none

          &:hover
            background mainBlueHover

  &__results
    flex-grow 1
    width 50%

    &--filters
      width 100%
      display flex
      align-items flex-end
      justify-content space-between
      margin-bottom 2rem

      label
        margin-right 1rem
        font-family plexBold

      select 
        font-size 1.4rem
        width 23rem

    &--listing
      padding 2rem 0
      width 100%
      display flex
      border-bottom 1px solid lightGreyBorder
      text-decoration none 
      color offBlack

      &:focus
        outline none

      &:hover
        text-decoration none 
        color offBlack

        .category__results--listing--text h2
          color mainBlue 
          text-decoration underline


      &:last-child
        border-bottom none

      &--image
        width 20rem
        height 20rem
        overflow hidden
        flex-shrink 0
        background-size cover
        background-position center

      &--text
        flex-grow 1
        padding 0 4rem
        border-right 1px solid lightGreyBorder

        h2
          font-family plexBold
          font-size 2rem
          margin-top 0

        ul
          padding-left 2.25rem

          li
            line-height 1.2
            margin-bottom 1rem
            list-style square inside url("/images/icons/check-blue.png")
            list-style-position outside

            &::before
              content " "

      &--more-info
        padding 0 0 0 4rem
        flex-shrink 0

        button
          margin-top 0
          font-family plexBold

.industry

  h2
    color mainBlue
    font-family plexBold
    font-size 2.2rem

  h4
    color mainBlue

  h5
    margin-top 0
    
  .popular-products
    list-style none !important
    padding 0 !important
    max-width 40rem

    li
      padding 0 !important
      list-style none !important

.search
  margin-bottom 4rem

  &__global
    max-width 40rem
    display flex
    flex-wrap wrap
    margin-bottom 2rem

    label
      width 100%
      font-family plexBold 
      margin-bottom .5rem

    input 
      flex-grow 1

    button
      margin 0

      img
        margin 0

.newsletter

  &__content
    max-width 40rem
    margin 0 auto
    padding 5rem 0 6rem 0

    h3
      color mainBlue
      margin-top 0

    form
      background lightGrey
      padding 2rem
      display flex
      flex-direction column
      align-items flex-start
      width 100%

      input 
        width 100%
        margin-bottom 1rem

      button
        margin-bottom 1rem
        padding 1rem 4rem

.pagination
  display flex
  align-items center

  &__link
    padding .5rem 1rem
    color black
    user-select none
    text-decoration none

    &:hover
      color black
      text-decoration none
      background lightGreyBorder 
      cursor pointer

    &.active
      color white
      background mainBlue 

.footer
  background-color mainBlue
  color white
  font-size 1.4rem

  > .container
    padding-top 4rem
    padding-bottom 4rem
    display flex
    align-items flex-start
    flex-wrap wrap

  &__column
    line-height 1.6
    width 25%
    padding-right 1rem

    &--branches
      width 100%
      position relative

      img
        max-height 24rem
        width auto
        margin 0 auto

      &--text
        position absolute
        top 50%
        left 50%
        transform translateY(-50%) translateX(-50%)
        margin 0 auto
        font-size 1.8rem
        text-align center

        span
          width 17rem 
          display block
          margin-bottom 1rem

        a
          color mainYellow !important
          text-decoration underline !important
          font-family plexBold


  h5
    margin 0 0 2rem 0
  
  ul li
    padding .5rem 0

  a
    color white
    text-decoration none

    &:hover
      text-decoration underline
  
  p
    margin 0

  &__bottom-strip
    background-color offBlack

    .container
      display flex
      flex-wrap wrap
      justify-content space-between
      padding-top 1rem

      > div, > span
        font-size 1.3rem
        margin-bottom 1rem

      div
        display flex
        flex-wrap wrap
        align-items center
        margin-right 3rem

      img
        width 12rem
        margin-right 2rem

      a
        font-size 1.3rem
        font-family plexBold

.contact-success
  padding-top 4rem
  padding-bottom 4rem

.login
  margin 6rem auto
  max-width 40rem
  padding 2rem

  img
    margin-bottom 4rem
    padding 0 2rem

  form
    display flex
    flex-direction column

    label
      margin-top 1rem

hr
  border 1px solid lightGreyBorder

.label__subtitle
  width 100%
  display block
  font-family plexRegular 
  color mediumGrey 
  font-size 1.4rem
  margin-bottom .5rem

.pell-client
    
    div, p, ul, ol
      font-size 1.6rem

    h2
      font-family plexBold
      font-size 2.2rem
      color mainBlue

    ul
      margin-left 4rem

      li
        list-style disc
        margin-bottom 1rem

    ol
      margin-left 4rem

      li
        list-style decimal
        margin-bottom 1rem


@import 'main/media-queries/large'
@import 'main/media-queries/tablet'
@import 'main/media-queries/mobile'
