// Add your variables for colours, fonts and anything else here
// Variables are imported by the main style sheets

offBlack = #111
mainBlue = #396BA4
mainBlueHover = #234164
lightGrey = #f6f6f6

open-sans-regular = "Open Sans Regular", Helvetica, Arial, sans-serif

containerWidth = 1280px
containerPadding = 20px