// Add your variables for colours, fonts and anything else here
// Variables are imported by the main style sheets

offBlack = hsl(230, 31%, 15%)
offBlackHover = hsl(230, 31%, 30%)
lightGrey = hsl(0, 0%, 96%)
lightGreyBorder = hsl(0, 0%, 91%)
mediumGrey = hsl(0, 0%, 33%)
mainYellow = hsl(55, 94%, 54%)
mainYellowHover = hsl(55, 94%, 47%)
lightBlue =hsl(222, 63%, 57%)
mainBlue =hsl(222, 63%, 37%)
mainBlueHover = hsl(222, 63%, 27%)
darkBlue = hsl(222, 63%, 37%)
darkBlueHover = hsl(222, 63%, 27%)

antiqueOlive = "Antique Olive Compact", Helvetica, Arial, sans-serif
plexRegular = "IBM Plex Sans Regular", Helvetica, Arial, sans-serif
plexLight = "IBM Plex Sans Light", Helvetica, Arial, sans-serif
plexBold = "IBM Plex Sans Bold", Helvetica, Arial, sans-serif

containerWidth = 1280px
containerPadding = 20px

mediaLargeWidth = 1200px
mediaTabletWidth = 992px
mediaMobileWidth = 767px